<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Title</title>

  <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
    integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" -->
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <style>
    {% include "src/css/bootstrap.min.css" %}

    body {
      background-color: antiquewhite;
    }
  </style>
  <script>
    {% include "src/js/bootstrap.min.js" %}
  </script>
  <script type="module" src="/src/main.ts"></script>
  {% include "main.html" %}
</body>

</html>