<main>
  <h1>Case Note Template Generator</h1>
  <p></p>

  <div class="row">
    <div class="col mse">{% include "session_info.html" %}{% include "presentation.html" %}</div>

    <div class="col mse">
      {% include "intervention.html" %} {% include "background.html" %}
    </div>
  </div>

  <div class="col">{% include "problems.html" %}</div>
  <div class="col">
    <h2>Actions</h2>
    <fieldset>
      <legend></legend>
      <div class="row">
        <input
          type="checkbox"
          id="consent"
          name="consent"
          value="Explained confidentiality and terms and conditions of EAP counselling. Client agreed and gave consent to continue"
          checked
        />
        <label for="consent"
          >Explained confidentiality and terms and conditions of EAP
          counselling. Client agreed and gave consent to continue</label
        >
      </div>
      <div class="row">
        <input
          type="checkbox"
          id="ors_srs"
          name="ors_srs"
          value="Administered ORS/SRS"
        />
        <label for="ors_srs">Administered ORS/SRS</label>
      </div>
      <div class="row">
        <input
          type="checkbox"
          id="self_care"
          name="self_care"
          value="Encouraged self-care"
        />
        <label for="self_care">Encouraged self-care</label>
      </div>

      <div class="row">
        <input
          type="checkbox"
          id="debrief_manager"
          name="debrief_manager"
          value="Debriefed with manager"
        />
        <label for="debrief_manager">Debriefed with manager</label>
      </div>
      <div class="row">
        <input
          type="checkbox"
          id="homework"
          name="homework"
          value="Discussed and set homework task: "
        />
        <label for="homework">Discussed and set homework task</label>
      </div>
      <div class="row">
        <input
          type="checkbox"
          id="rebook"
          name="rebook"
          value="Client to contact reception to rebook"
        />
        <label for="rebook">Client to contact reception to rebook</label>
      </div>
    </fieldset>
  </div>
  <div class="row" style="margin-top:2.5rem; margin-bottom: 3.5rem;">
    <div class="col" style="text-align: center">
      <a class="button primary" style="margin-top: 0.5rem" id="generate_button"
        >Generate template</a
      >
    </div>
    <div class="col" style="text-align: center">
      <a class="button error" style="margin-top: 0.5rem" id="clear_button"
        >Clear template</a
      >
    </div>
  </div>

  <div class="col">
    <h2>Output</h2>
    <textarea
      name="note_output"
      id="note_output"
      rows="20"
      cols="30"
      style="margin-top: 0.5rem"
    ></textarea>

    <hr />
  </div>
</main>
